<!--
<div class="row">
  <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <a routerLink="/home">Trayectos</a>
      <a routerLink="/pestaña-trayecto">Información Trayectos</a>
    </div>
    <div id="main">
        <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; Menu </span>
      </div>


      <div class="col-7" *ngIf="usuario!=null">
          Bienvenido {{usuario.nombre}}
          <button class="button button5" routerLink="/usuario/menu">Usuario</button>
      
       </div>
 
<div class="col-6 offset-3">
    <br>
    <h2 class="text-center" >Crear Trayecto</h2>
    <div class="col-6"><app-trayecto-crear></app-trayecto-crear> </div>
    <br>

 </div>

 <div class="col-6 offset-3">
  <br>
  <h2 class="text-center">Trayectos Futuros</h2>
  <br>

</div>

</div>

-->
