<div class="container-fluid">
    <div class="row">
        <div class="col-3" >
            <div class="view-account">
                <section class="module">
                    <div class="module-inner">
                        <div class="side-bar">
                            <div class="user-info">
                                <img class="img-profile img-circle img-responsive center-block" src='../../../../generic-user-icon-13.jpg' alt="">
                                <ul class="meta list list-unstyled">
                                    <li class="name" *ngIf="usuario">{{usuario.nombre}} {{usuario.apellido}}  
                                    </li>
                                </ul>
                            </div>
                            <nav class="side-menu">
                                <ul class="nav">
                                    <li class="active"><a [routerLink]= "['/usuario/menu', { outlets: { 'content': 'info' } }]"><span class="fa fa-user"></span> Información Principal</a></li>
                                    <li class="active"><a [routerLink]= "['/usuario/menu', { outlets: { 'content': 'vehiculos' } }]">Vehiculos</a></li>
                                    <li class="active"><a [routerLink]= "['/usuario/menu', { outlets: { 'content': 'calificaciones' } }]">Calificaciones</a></li>
                                    <li><a [routerLink]= "['/usuario/menu', { outlets: { 'content': 'notificaciones' } }]">Notificaciones<span class="badge badge-danger" style="float:right;">{{notificacionesPendientes}}</span></a></li>
                                    <li><a [routerLink]= "['/usuario/menu', { outlets: { 'content': 'buscarUsuario' } }]"> Buscar usuario</a></li>
                                    <li><a routerLink = '/home' (click) = 'logOut()'>Log Out</a></li>
                                 </ul>
                            </nav>
                        </div>
                    </div>
                    
                </section>
            </div>
        </div>
        <div class="col-9" >
            <router-outlet name="content"></router-outlet>
        </div>
    </div>
</div>