<div class="text-right">
  	<button type="button" class="btn btn-primary" routerLink="/admin">Volver</button>
</div>
<table class="table">
  <thead class="table-info">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Docuemnto</th>
      <th scope="col">Celular</th>
      <th scope="col">Username</th>
      <th scope="col">Correo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of usuarios">
		<td >
			{{i.id}}
		</td>
		<td style="cursor: pointer;">
			<a class="figure-caption" [routerLink] ="['/usuario', { outlets: { 'detail': [i.username] } }]" >{{i.nombre}}</a>
		</td>
		<td >
			{{i.apellido}}
		</td>
		<td >
			{{i.documento}}
		</td>
		<td >
			{{i.celular}}
		</td>
		<td >
			{{i.username}}
		</td>
		<td >
			{{i.correo}}
		</td>
	</tr>

  </tbody>
</table>
<router-outlet name="detail"></router-outlet>
<div class="text-right">
  	<button type="button" class="btn btn-primary" routerLink="/admin">Volver</button>
</div>
