<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <br>
            <h2 class="text-center">Creando Seguro</h2>
            <br>
            <form name="usuario" (ngSubmit)="f.form.valid && createSeguro()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="tipo"><b>Tipo</b></label>
                    <input type="text" name="tipo" class="form-control" id="tipo" [(ngModel)]="seguro.tipo"
                        #nombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted }" required>
                    <div class="invalid-feedback">
                        <div>Falta el tipo</div>
                    </div>
                </div> 
                
                
                <br>
                <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-primary" >Create</button>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-danger" (click)="cancelEdition()">Cancel</button>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>
