<div class="text-left">
  	<button type="button" class="btn btn-primary" routerLink="/usuario/lista">Volver a la lista</button>
</div>
<div class="text-right">
  <button type="button" class="btn btn-primary" [routerLink]="['/usuario/menu', { outlets: { 'content': 'info' } }]">Ir al usuario completo</button>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{usuarioDetail.nombre}} {{usuarioDetail.apellido}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{usuarioDetail.username}}</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<!-- Solo probando alquiler(esto se puede eliminar) -->
