<h4>Notificaciones nuevas:</h4>
<div class="container" *ngFor="let notificacion of noLeidasRecibidas">
  <mat-card>
    <div class="box">
      <div class="col-2">
        <img
          src="../../../../carritoImagen.png"
          width="100%"
          class="img-rounded"
          vertical-align="middle"
          alt="Icono"
        />
      </div>
      <div class="col-8" text-align="center">
        <div class="" *ngIf="notificacion.tipo == 1">
          <div id="mensaje" class="row">
            Enviada por:
            <a
              [routerLink]="[
                'usuruario/buscarEspecifico/[notificacion.emisor.nombre]'
              ]"
            >
             {{ notificacion.emisor.nombre }}
            </a>
          </div>
          <div class="row">
            <a
              [routerLink]="[
                'usuruario/buscarEspecifico/[notificacion.trayecto.id]'
              ]"
              >{{ notificacion.emisor.nombre }}</a
            >
              &nbsp; quiere suscribirse al
            <a
              [routerLink] ="['/usuario/menu', { outlets: { 'content': 'buscarEspecifico'[notificacion.trayecto.id] } }]"
            >
              &nbsp; trayecto con id {{ notificacion.trayecto.id }}</a
            >
          </div>
          <div class="row">
            {{ notificacion.fecha }}
          </div>
        </div>
        <div class="" *ngIf="notificacion.tipo == 2">
          <div id="mensaje" class="row">
            Enviada por: &nbsp;
            <a
              [routerLink]="[
                'usuruario/buscarEspecifico/[notificacion.emisor.nombre]'
              ]"
            >
              {{ notificacion.emisor.nombre }}
            </a>
          </div>
          <div class="row">
            <a
              [routerLink]="[
                'usuruario/buscarEspecifico/[notificacion.trayecto.id]'
              ]"
              >{{ notificacion.emisor.nombre }}</a
            >
            {{ notificacion.mensaje }}&nbsp;su solicitud de cupo para el
            <a
              [routerLink]="[
                'usuruario/buscarEspecifico/[notificacion.emisor.nombre]'
              ]"
            >
              trayecto con id&nbsp;{{ notificacion.trayecto.id }}</a
            >
          </div>
          <div class="row">
            {{ notificacion.fecha }}
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="" *ngIf="notificacion.tipo == 1">
          <mat-card-actions>
            <div class="row">
              <button
                mat-button
                (click)="
                  agregarAUnPasajero(
                    notificacion.trayecto,
                    notificacion.emisor,
                    notificacion
                  )
                "
              >
                Aceptar
              </button>
            </div>
            <div class="row">
              <button
                mat-button
                (click)="
                  rechazarAUnPasajero(
                    notificacion.trayecto,
                    notificacion.emisor,
                    notificacion
                  )
                "
              >
                Rechazar
              </button>
            </div>
          </mat-card-actions>
        </div>
        <div class="" *ngIf="notificacion.tipo == 2">
          <mat-card-actions>
            <button mat-button (click)="marcarComoLeida(notificacion)">
              Marcar como leída
            </button>
          </mat-card-actions>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<h4>Notificaciones antiguas:</h4>
<div class="container" *ngFor="let notificacion of leidasRecibidas">
  <mat-card>
    <div class="box">
      <div class="col-2">
        <img
          src="../../../../carritoImagen.png"
          width="100%"
          class="img-rounded"
          vertical-align="middle"
          alt="Icono"
        />
      </div>
      <div class="col-8" text-align="center">
        <div class="" *ngIf="notificacion.tipo == 1">
          <div id="mensaje" class="row">
            Enviada por:&nbsp;
            <a
              [routerLink]="[
                'usuruario/buscarEspecifico/[notificacion.emisor.nombre]'
              ]"
            >
              {{ notificacion.emisor.nombre }}
            </a>
          </div>
          <div class="row">
            <a
              [routerLink]="[
                'usuruario/buscarEspecifico/[notificacion.trayecto.id]'
              ]"
              >{{ notificacion.emisor.nombre }}</a
            >
            &nbsp;quiere suscribirse al&nbsp;
            <a
              [routerLink]="[
                'usuruario/buscarEspecifico/[notificacion.emisor.nombre]'
              ]"
            >
            &nbsp;trayecto con id&nbsp;{{ notificacion.trayecto.id }}</a
            >
          </div>
          <div class="row">
            {{ notificacion.fecha }}
          </div>
        </div>
        <div class="" *ngIf="notificacion.tipo == 2">
          <div id="mensaje" class="row">
            Enviada por:&nbsp;
            <a
              [routerLink]="[
                'usuruario/buscarEspecifico/[notificacion.emisor.nombre]'
              ]"
            >
            {{ notificacion.emisor.nombre }}
            </a>
          </div>
          <div class="row">
            <a
              [routerLink]="[
                'usuruario/buscarEspecifico/[notificacion.trayecto.id]'
              ]"
              >{{ notificacion.emisor.nombre }}</a
            >
            {{ notificacion.mensaje }}&nbsp;su solicitud de cupo para el
            <a
              [routerLink]="[
                'usuruario/buscarEspecifico/[notificacion.emisor.nombre]'
              ]"
            >
            &nbsp;trayecto con id&nbsp;{{ notificacion.trayecto.id }}</a
            >
          </div>
        </div>
      </div>
      <div class="col-2">
        <mat-card-actions>
          <button mat-button (click)="eliminarNotificacion(notificacion)">
            Eliminar
          </button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>

<div class="container" *ngFor="let notificacion of misNotificacionesEnviadas">
  <mat-card>
    <div class="box">
      <div class="col-2">
        <img
          src="../../../../carritoImagen.png"
          width="100%"
          class="img-rounded"
          vertical-align="middle"
          alt="Icono"
        />
      </div>
      <div class="col-8" text-align="center">
        <div class="" *ngIf="notificacion.tipo == 1">
          <div id="mensaje" class="row">
            Enviada a:
            <a
              [routerLink]="[
                'usuruario/buscarEspecifico/[notificacion.emisor.nombre]'
              ]"
            >
              {{ notificacion.emisor.nombre }}
            </a>
          </div>
          <div class="row">
            <a
              [routerLink]="[
                'usuruario/buscarEspecifico/[notificacion.trayecto.id]'
              ]"
              >{{ notificacion.emisor.nombre }}</a
            >
            &nbsp;quiere suscribirse al&nbsp;
            <a
              [routerLink]="[
                'usuruario/buscarEspecifico/[notificacion.emisor.nombre]'
              ]"
            >
            &nbsp;trayecto con id&nbsp;{{ notificacion.trayecto.id }}</a
            >
            <div class="row">
              {{ notificacion.fecha }}
            </div>
          </div>
        </div>
        <div class="" *ngIf="notificacion.tipo == 2">
          <div id="mensaje" class="row">
            Enviada a:&nbsp;
            <a
              [routerLink]="[
                'usuruario/buscarEspecifico/[notificacion.receptor.nombre]'
              ]"
            >
            &nbsp;{{ notificacion.receptor.nombre }}
            </a>
          </div>
          <div class="row">
            <a
              [routerLink]="[
                'usuruario/buscarEspecifico/[notificacion.trayecto.id]'
              ]"
              >{{ notificacion.emisor.nombre }}</a
            >
            &nbsp;{{ notificacion.mensaje }}&nbsp;su solicitud de cupo para el
            <a
              [routerLink]="[
                'usuruario/buscarEspecifico/[notificacion.emisor.nombre]'
              ]"
            >
              trayecto con id &nbsp;{{ notificacion.trayecto.id }}</a
            >
          </div>
        </div>
      </div>
      <div class="col-2">
        <mat-card-actions>
          <button mat-button (click)="eliminarNotificacion(notificacion)">
            Eliminar
          </button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>

