
<div class="btn-group-vertical btn-block">
  <button type="button" class="btn">Alquileres</button>
  <button type="button" class="btn">Calificaciones</button>
  <button type="button" class="btn">Ciudades</button>
  <button type="button" class="btn">Notificaciones</button>
  <button type="button" class="btn">Pagos</button>
  <button type="button" class="btn">InfoTC</button>
  <button type="button" class="btn">Peajes</button>
  <button type="button" class="btn">Seguros</button>
  <button type="button" class="btn">Trayectos</button>
  <button type="button" class="btn" routerLink="/usuario/lista">Usuarios</button>
  <button type="button" class="btn">Vehiculos</button>
</div>