
<div class="btn-group-vertical btn-block">
  <button type="button" class="btn" routerLink="/alquiler/listar">Alquileres</button>
  <button type="button" class="btn">Calificaciones</button>
  <button type="button" class="btn">Ciudades</button>
  <button type="button" class="btn">Notificaciones</button>
  <button type="button" class="btn" routerLink="/pago/list">Pagos</button>
  <button type="button" class="btn" routerLink="/peaje/admin">Peajes</button>
  <button type="button" class="btn" routerLink="/seguro/admin">Seguros</button>
  <button type="button" class="btn" routerLink="/trayecto/create">Trayectos</button>
  <button type="button" class="btn" routerLink="/usuario/lista">Usuarios</button>
  <button type="button" class="btn" routerLink="/vehiculo/list">Vehiculos</button>
</div>
