<div class="container-fluid">
  <div class="row">
      <div class="col-12">
          <br>
          <h2 class="text-center">Buscar usuario</h2>
          <br>
          <form name="BuscarUsuarioNombreApellido" (ngSubmit)="f.form.valid && buscarUsuarios()" #f="ngForm" novalidate>
            <div class="form-group" *ngIf="usuarios!=null">
              <label for="nombre"><b>Nombre</b></label>
              <input type="text" name="nombre" class="form-control" id="nombre" [(ngModel)]="nombre">
            </div> 
            <div class="form-group" *ngIf="usuarios!=null">
              <label for="apellido"><b>Apellido</b></label>
              <input type="text" name="apellido" class="form-control" id="apellido" [(ngModel)]="apellido">
            </div> 
            <div class="form-group" *ngIf="usuarios!=null">
              <label for="username"><b>Nombre de usuario</b></label>
                <select class="form-control" name="username" form="search"   [(ngModel)]="username" >
                   <option type="checkbox" *ngFor = "let user of usuarios" value = {{user.username}} >{{user.username}}</option>
                </select>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
              <button type="submit" class="btn btn-primary" >Buscar</button>
              <div class="divider"></div>
            </div>
          </form>
          <br>
      </div>
  </div>
</div>

