<div class="text-right">
	<button type="button" class="btn btn-primary" routerLink="/usuario/menu">Volver</button>
</div>
<table class="table">
<thead class="table-info">
	<tr>
		<th scope="col">#</th>
		<th scope="col">Mensaje</th>
		<th scope="col">Emisor</th>
		<th scope="col">Receptor</th>
	</tr>
</thead>
<tbody>
	<tr *ngFor="let i of notificacion">
	<td >		
		{{i.id}}
	</td>
	<td >
		{{i.mensaje}}
	</td>
	<td>
		{{i.emisor.nombre}}
	</td>
	<td>
		{{i.receptor.nombre}}
	</td>
</tr>

</tbody>
</table>
<div class="text-right">
	<button type="button" class="btn btn-primary" routerLink="/usuario/menu">Volver</button>