<!-- Botones a los componentes -->

<ul class="nav nav-pills">
  <li class="nav justify-content-center">
  	  <a class="nav-link active" routerLink="/usuario/menu" routerLinkActive="active">Usuario</a>
  	  <a class="nav-link active" routerLink="/trayecto/list" routerLinkActive="active">Trayectos</a>
      <a class="nav-link active" routerLink="/trayecto/create" routerLinkActive="active">Crear Trayecto</a>
      <!-- Usar como pruebas, eliminar al terminar -->
      <a class="nav-link active" routerLink="/alquiler/crear" routerLinkActive="active">pruebas</a>
  </li>
</ul>