<h4>Vehiculos:</h4>
<div class="container" *ngFor="let vehiculo of misVehiculos">
  <mat-card>
  <div class="box">
    <div class="row">
      <div class="col-2">
        <img
          src="../../../../kombiLove.jpg"
          width="100%"
          class="img-rounded"
          vertical-align="middle"
          alt="Icono"
        />
      </div>
      <div class="col-md-offset-100" text-align="center">
          <div class="col-md-offset-20">
            id: {{vehiculo.id}}
          </div>  
          <div class="col-md-offset-100">
            Alquilado: {{vehiculo.alquilado}}
          </div>  
          <div class="col-md-offset-150">
            Color: {{vehiculo.color}}
          </div>  
          <div class="col-md-offset-20">
            Modelo: {{vehiculo.modelo}}
          </div> 
          <div class="col-md-offset-20">
            Placa: {{vehiculo.placa}}
          </div> 
      </div>
    </div>
  </div>
</mat-card>
</div>
