<h4>Vehiculos:</h4>
<mat-card >
  <div class="box">
    <div class="col">
      <img src="../../../../carritoImagen.png" width=50% class="img-rounded" alt="Icono">
    </div>
    <div class="col">
      <div class="row">
        Enviada por:
      </div>  
      <div class="row">
        "Hola"
      </div>  
    </div>
    <div class="col">
      <div class="" *ngIf="true">
        <mat-card-actions>
          <div class="row">
            <button mat-button>Action 1</button>
          </div>  
          <div class="row">
            <button mat-button>Action 2</button>
          </div> 
       </mat-card-actions>
      </div> 
    </div> 
  </div> 
</mat-card>

