
	<h2 class="text-center" >Trayecto Actual</h2>
	<div class="container" *ngFor="let trayecto of trayectosP">
			<div class="" *ngIf="trayecto.estado == 1">
		<mat-card>
		  <div class="box">
			<div class="col-8" text-align="center">
				<div id="mensaje" class="row">
				  <h3>Trayecto # {{ trayecto.id }}</h3>
				  
				</div>
				<div class="row">
					fechaInicial: {{ trayecto.fechaInicial }}
					
				</div>
				<div class="row">
					fechaInicial: {{ trayecto.fechaInicial }}
					
				</div>
				<div class="row">
					fechaFinal: {{ trayecto.fechaFinal }}
					
				</div>
				<div class="row">
					destino: {{ trayecto.destino }}
					
				</div>
				<div class="row">
					origen: {{ trayecto.origen }}
					
				</div>
				<div class="row">
						<button
						mat-button
						(click)="pago(trayecto.id)"
					>
						Pagar
					</button>
						
					</div>
			  </div>
			  
			</div>
		</mat-card>
	</div>
	</div>
	<br>
	<br>
	<br>


<div class ="container-fluid">
	<div class ="row">
	<div class=col>
		<h2 class="text-center" >Trayecto Pasados</h2>
		<div class="container" *ngFor="let trayecto of trayectosP">
			<mat-card>
			<div class="box">
				<div class="col-8" text-align="center">
				<div class="" *ngIf="trayecto.estado == 2">
					<div id="mensaje" class="row">
					<h3>Trayecto # {{ trayecto.id }}</h3>
					
					</div>
					<div class="row">
						fechaInicial: {{ trayecto.fechaInicial }}
						
					</div>
					<div class="row">
						fechaInicial: {{ trayecto.fechaInicial }}
						
					</div>
					<div class="row">
						fechaFinal: {{ trayecto.fechaFinal }}
						
					</div>
					<div class="row">
						destino: {{ trayecto.destino }}
						
					</div>
					<div class="row">
						origen: {{ trayecto.origen }}
						
					</div>
				</div>
				
				</div>
				<div class="col-2">
				<mat-card-actions>
					<button mat-button (click)="detail(trayecto.id)">
					Calificar Pasajeros
					</button>
				</mat-card-actions>
				</div>
			</div>
			</mat-card>
		</div>
	</div>



	<div class=col>
			<h2 class="text-center" >Trayecto Futuros</h2>
			<div class="container" *ngFor="let trayecto of trayectosP">
				<mat-card>
				  <div class="box">
					<div class="col-8" text-align="center">
					  <div class="" *ngIf="trayecto.estado == 0">
						<div id="mensaje" class="row">
						  <h3>Trayecto # {{ trayecto.id }}</h3>
						  
						</div>
						<div class="row">
							fechaInicial: {{ trayecto.fechaInicial }}
							
						</div>
						<div class="row">
							fechaInicial: {{ trayecto.fechaInicial }}
							
						</div>
						<div class="row">
							fechaFinal: {{ trayecto.fechaFinal }}
							
						</div>
						<div class="row">
							destino: {{ trayecto.destino }}
							
						</div>
						<div class="row">
							origen: {{ trayecto.origen }}
							
						</div>
					  </div>
					  
					</div>
				  </div>
				</mat-card>
			</div>
	</div>
</div>
</div>

















