.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
  }
  
  .box {
    display: flex;
  }
  
  #mensaje {
    vertical-align: text-bottom;
    white-space: pre;
  }
  body {
    background-color: lightblue;
    font-family: 'Rubik';font-size: 22px;
}